@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.feed {
  .item {
    border-bottom: $border-color;
    padding: 24px 0;

    &:last-child {
      @include margin-bottom(0.5);
    }

    .title {
      color: $color-base;
      font-size: $typographic-base-font-size * 1.6875;
      font-weight: bold;
      @include line-height(1.25);
      @include margin-top(0);
      @include margin-bottom(0.5);
    }

    .description {
      color: #000000CC;
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(0.25);
    }

    .meta {
      font-size: 12px;
      line-height: 1.4em;
      margin-bottom: 18px;

      .time {
        margin-right: 1em;
      }

      .divider {
        margin: 0 5px;
      }

      .category {
        .link {
          background-color: #2F4858;
          border-color: #0f2e3d;
          border-radius: 3px;
          color: $color-white;
          font-size: 80%;
          font-weight: 500;
          padding: 0.3em 0.5em;
          text-transform: uppercase;

          &:hover,
          &:focus {
            border-bottom: none;
          }
        }
      }
    }
  }
}
